.AURA-apply-button{
    background-image: url('https://www.joinaura.us/lab/assets/apply/apply.svg');
    background-position: center center;
    width: 132px;
    height: 37.175px;
    display: inline-block;
    background-repeat: no-repeat;
}
.AURA-apply-button:hover{
    background-image: url('https://www.joinaura.us/lab/assets/apply/apply-hover.svg');
    cursor: pointer;
}